<%- include("partials/header") %>
<div class="container my-3" style="min-height: 100vh;">
    <h1 class="mb-3">Statistics</h1>
    <tr>
        <th scope="col"><iframe style="background: #FFFFFF;border: none;border-radius: 2px;box-shadow: 0 2px 10px 0 rgba(70, 76, 79, .2);" width="45%" height="480" src="https://charts.mongodb.com/charts-project-0-lnhos/embed/charts?id=62a4de95-947b-4ba7-85fa-52ff00ca8361&maxDataAge=3600&theme=light&autoRefresh=true"></iframe></th>
        <th scope="col"> <iframe style="background: #FFFFFF;border: none;border-radius: 2px;box-shadow: 0 2px 10px 0 rgba(70, 76, 79, .2);" width="45%" height="480" src="https://charts.mongodb.com/charts-project-0-lnhos/embed/charts?id=62a4e114-16bf-4b8d-8853-231614b702a7&maxDataAge=3600&theme=light&autoRefresh=true"></iframe></th>
    </tr>
    <tr>
        <th scope="col"><iframe style="background: #FFFFFF;border: none;border-radius: 2px;box-shadow: 0 2px 10px 0 rgba(70, 76, 79, .2);" width="45%" height="480" src="https://charts.mongodb.com/charts-project-0-lnhos/embed/charts?id=62a51225-1170-4a56-85e6-351b43204390&maxDataAge=3600&theme=light&autoRefresh=true"></iframe></th>
        <th scope="col"><iframe style="background: #FFFFFF;border: none;border-radius: 2px;box-shadow: 0 2px 10px 0 rgba(70, 76, 79, .2);" width="45%" height="480" src="https://charts.mongodb.com/charts-project-0-lnhos/embed/charts?id=62a5195e-1269-402e-8fab-4da63f010de9&maxDataAge=3600&theme=light&autoRefresh=true"></iframe></th>
    </tr>
</div>
<%- include("partials/footer") %>