<%- include("partials/header") %>
<div class="container mt-5" style="min-height: 100vh;">
  <div class="row justify-content-center">
    <div class="col-6">
      <p class="text-center">welcome to admin page, <%= user.name %> </p>
    </div>
  </div>
</div>
<%- include("partials/footer") %>