<%- include("partials/header") %>
<body>
<div class="container mt-5" style="min-height: 100vh;">
  <div class="row justify-content-center">
    <div class="col-6">
      <form action="/admin/superlady/register" method="post" class="border p-3">
        <div class="mb-3">
            <label for="name" class="form-lable">Name</label>
            <input type="text" class="form-control" name="name" id="name" required />
          </div>
        <div class="mb-3">
          <label for="email" class="form-lable">Email</label>
          <input type="text" class="form-control" name="email" id="email" required />
        </div>
        <div class="mb-3">
          <label for="password" class="form-lable">Password</label>
          <input type="password" class="form-control" name="password" id="password" required />
        </div>
        <div class="mb-3">
          <label for="phone_number" class="form-lable">Phone Number</label>
          <input type="text" class="form-control" name="phone_number" id="phone_number" required />
        </div>
        <div class="mb-3">
            <label for="role" class="form-lable">Region</label>
            <input type="text" class="form-control" name="region" id="region" required />
          </div>     
        <button type="submit" class="btn btn-primary">Signup</button>
      </form>
    </div>
  </div>
</div>
<%- include("partials/footer") %>