<%- include("partials/header") %>
<div class="container mt-5" style="min-height: 100vh;">
  <div class="row justify-content-center">
    <div class="col-6">
      <form action="/admin/courses/lectures/add" method="post" class="border p-3">
        <div class="mb-3">
          <label for="courses" class="form-label">Select course:</label>
          <select name="course" class="form-control" id="courses">
            <% requiredCourses.forEach(course => { %>
            <option value=<%= course.id %>> <%= course.name %> </option>
            <% }) %>
          </select>
        </div>
        <div class="mb-3">
          <label class="form-lable">Lecture title</label>
          <input type="text" class="form-control" name="name" id="videoUrl" required />
        </div>
        <!-- <div class="mb-3">
                <label class="form-lable">Video link:</label>
                <input type="text" class="form-control" name="videoUrl" id="videoUrl" required />
            </div> -->
        <div class="mb-3">
          <label class="form-lable">Video code:</label>
          <input type="text" class="form-control" name="videoCode" id="videoCode" required />
        </div>
        <input type="submit" value="Submit" class="btn btn-primary">
      </form>
    </div>
  </div>
</div>
</div>
<%- include("partials/footer") %>