<%- include("partials/header") %>
<body>
<div class="container mt-5" style="min-height: 100vh;">
  <div class="row justify-content-center">
    <div class="col-6">
      <form action="/admin/courses/add/"
     method="POST"  class="border p-3">
        <div class="mb-3">
            <label for="name" class="form-lable">Name</label>
            <input type="text" class="form-control" name="name" id="name" required />
          </div>
          <div class="mb-3">
            <label for="language" class="form-lable">Language</label>
            <input type="text" class="form-control" name="language" id="language" required />
          </div>
        <div class="mb-3">
          <label for="category" class="form-lable">Category</label>
          <input type="text" class="form-control" name="category" id="category" required />
        </div>
        <div class="mb-3">
          <label for="password" class="form-lable">Description</label>
          <input type="description" class="form-control" name="description" id="description" required />
        </div>
        <div class="mb-3">
          <label for="password" class="form-lable">Duration</label>
          <input type="description" class="form-control" name="duration" id="description" required />
        </div>
        <div class="mb-3">
          <label for="imageUrl">Image URL</label>
          <input type="text" class="form-control" name="imageUrl" id="imageUrl" aria-describedby="" placeholder="Enter image URL from google">
        </div>     
        <button type="submit" class="btn btn-primary">Submit</button>
      </form>
    </div>
  </div>
</div>
<%- include("partials/footer") %>