<%- include("partials/header") %>
<div class="album py-5 bg-light" style="min-height: 100vh;">
  <div class="container">
    <h1 class="mb-3">Available courses</h1>
    <form action="/courses" class="mb-5">
      <div class="row">
        <div class="col">
          <p>language</p>
        </div>
        <div class="col">
          <p>category</p>
        </div>
      </div>
      <div class="row mb-2">
        <div class="col">
          <input type="text" class="form-control" id="language" name="language" aria-describedby="emailHelp">
        </div>
        <div class="col">
          <input type="text" class="form-control" id="language" name="category" aria-describedby="emailHelp">
        </div>
      </div>
      <div class="row mb-2">
        <div class="col">
          <button type="submit" class="btn btn-primary">Submit</button>
        </div>
        <div class="col">
        </div>
      </div>
    </form>

    <div class="row row-cols-1 row-cols-sm-2 row-cols-md-3 g-3">
      <% courses.forEach(course => { %>
      <div class="col" style="width:33%;display:inline-block">
        <div class="card shadow-sm">
          <img src="<%= course.imageUrl %>" alt="">
          <div class="card-body">
            <h3 class="mb-2"><%= course.name %> </h3>
            <h6>language: <%= course.language %> </h6>
            <h6 class="mb-4">category: <%= course.category %> </h6>
            <p class="card-text"><%= course.description %> </p>
            <div class="d-flex justify-content-between align-items-center">
              <div class="btn-group">
                <a href="/courses/<%= course.id %> " class="btn btn-sm btn-primary">Details</a>
              </div>
              <small class="text-muted"><%= course.duration %> </small>
            </div>
          </div>
        </div>
      </div>
      <% }) %>
    </div>
  </div>
</div>
<%- include("partials/footer") %>