<%- include("partials/header") %>
<div class="album py-5 bg-light">
  <div class="container" style="min-height: 100vh;">
    <h1 class="mb-3"><%= course.name %> </h1>
    <h5 class="mb-2">language: <%= course.language %> </h5>
    <h5 class="mb-2">category: <%= course.category %> </h5>
    <p class="mb-4"><%= course.description %> </p>
    <% if (isEnrolled) { %>
    <button class="btn btn-success btn-lg mb-4">Enrolled</button>
    <% } %>
    <% if (!isEnrolled) { %>
    <form action="/user/course/enroll" method="post">
      <input type="text" value="<%= course.id %>" name="courseId" hidden>
      <button type="submit" class="btn btn-primary btn-lg mb-4">Enroll</button>
    </form>
    <% } %>

    <% if (isEnrolled) { %>
    <h2 class="mb-5">Lecture Videos</h2>
    <div class="row row-cols-1 row-cols-sm-2 row-cols-md-3 g-3">
      <% lectures.forEach(lecture => { %>
      <div class="col" style="width:33%;display:inline-block;">
        <div class="card shadow-sm">
          <div class="card-body">
            <div class="mb-2">
              <img style="max-width: 100%;" src="http://img.youtube.com/vi/<%= lecture.videoCode %>/hqdefault.jpg" alt="">
            </div>
            <h3><%= lecture.name %> </h3>
            <div class="d-flex justify-content-between align-items-center">
              <div class="btn-group">
                <a href="/lectures/<%= lecture.id %> " class="btn btn-sm btn-primary">watch</a>
              </div>
            </div>
          </div>
        </div>
      </div>

      <% }) %>
    </div>

    <% } %>
  </div>
</div>

<%- include("partials/footer") %>