<!DOCTYPE html>

<head>
  <link rel="stylesheet" href="../../public/css/lecture_id.css">
  <%- include('partials/bootstrap_links') %>
</head>
<html>

<body>
  <%- include("partials/navbar") %>
  <div class="container mt-5" style="min-height: 100vh;">
    <h2 style="text-align: center;" class="mb-5"><%= lecture.name %> </h2>
    <div style="text-align:center" class="" style="margin-top: 5rem;min-height: 100vh;">
      <iframe width="800px" height="450px" src="<%= lecture.videoUrl %> ">
      </iframe>
    </div>
  </div>
</body>

</html>
<%- include("partials/footer") %>