<%- include("partials/header") %> 
<br>
<style>
body {
padding-top: 2rem;
padding-bottom: 2rem;
}
h3 {
  margin-top: 2rem;
}
.row {
  margin-bottom: 1rem;
}
.row .row {
  margin-top: 1rem;
  margin-bottom: 0;
}
[class*="col-"] {
  padding-top: 1rem;
  padding-bottom: 1rem;
  background-color: rgba(86, 61, 124, .15);
  border: 1px solid rgba(86, 61, 124, .2);
}
hr {
  margin-top: 2rem;
  margin-bottom: 2rem;
}
</style>
<div class="container" style="min-height: 100vh;">
    <h1>Lectures</h1>
    <p class="lead">Contains the video lectures previuosly conducted</p>
    <br>
    <div class="row">
        <div class="col-4">Course Name</div>
        <div class="col-4">Lecture Link</div>
        <div class="col-4">Description</div>
      </div> 
    <div class="row">
      <div class="col-4">Embroidery Designs</div>
      <div class="col-4"><a href="https://www.youtube.com/watch?v=RDbmcnAEbes" > Click here</a></div>
      <div class="col-4">Gives a brief design creation on cloth materials related to embroidary and hand movement along with design pattern</div>
    </div>
    <div class="row">
      <div class="col-sm-4">Beautician Lecture</div>
      <div class="col-sm-4"><a href ="https://www.youtube.com/watch?v=WMccJKQPVVg">Click here</a></div>
      <div class="col-sm-4">Includes basic leasson of threading and safety precautions to be taken care of.</div>
    </div>
    <div class="row">
      <div class="col-md-4">English for beginners</div>
      <div class="col-md-4"><a href="https://www.youtube.com/watch?v=mJHa_Gkcsj8">Click here</a></div>
      <div class="col-md-4">Includes basic english sentences along with hindi translations.</div>
</div>
<%- include("partials/footer") %> 