<%- include("partials/header") %>
<div class="container mt-5" style="min-height: 100vh;">
  <div class="row justify-content-center">
    <div class="col-6">
      <form action="/auth/login" method="post" class="border p-3">
        <div class="mb-3">
          <label for="email" class="form-lable">Email</label>
          <input type="text" class="form-control" name="email" id="email">
        </div>
        <div class="mb-3">
          <label for="password" class="form-lable">Password</label>
          <input type="password" class="form-control" name="password" id="password">
        </div>
        <button type="submit" class="btn btn-primary">login</button>
      </form>
    </div>
  </div>
</div>
<%- include("partials/footer") %>