<%- include("partials/header") %>
<html>
  <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.4.1/css/bootstrap.min.css">
  <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.6.0/jquery.min.js"></script>
  <script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.4.1/js/bootstrap.min.js"></script>
<style>
td:nth-child(even), th:nth-child(even) {
  background-color: #D6EEEE;
}
</style>
<h1>Meetings</h1>
<br>
<br>
<table class="table">
  <thead>
    <tr>
      <th scope="col">Sl. no.</th>
      <th scope="col">Title</th>
      <th scope="col">Date</th>
      <th scope="col">Time</th>
      <th scope="col">Location</th>
      <th scope="col">Region</th>
      <th scope="col">Super lady</th>
      <th scope="col">Description</th>
    </tr>
  </thead>
  <tbody>
    <% let i = 1; %> 
    <% requiredMeetings.forEach(meeting => { %>
    <tr>
      <th scope="row"><%= i %> </th>
      <td> <%= meeting.title %>  </td>
      <td> <%= meeting.date %> </td>
      <td> <%= meeting.time %> </td>
      <td> <%= meeting.location %> </td>
      <td> <%= meeting.region %> </td>
      <td> <%= meeting.superlady %> </td>
      <td> <%= meeting.description %> </td>
    </tr>
    <% i++; %> 
    <% }) %>
  </tbody>
</table>
<div style="min-height: 50vh;">

</div>
</html>

<%- include("partials/footer") %>