<%- include("partials/header") %>
<div class="container my-3" style="min-height: 100vh;">
  <h1 class="mb-3">Statistics</h1>
  <tr>
    <th scope="col"><iframe style="background: #FFFFFF;border: none;border-radius: 2px;box-shadow: 0 2px 10px 0 rgba(70, 76, 79, .2);" width="45%" height="480" src="https://charts.mongodb.com/charts-project-0-lnhos/embed/charts?id=62a4de95-947b-4ba7-85fa-52ff00ca8361&maxDataAge=3600&theme=light&autoRefresh=true"></iframe></th>
    <th scope="col"> <iframe style="background: #FFFFFF;border: none;border-radius: 2px;box-shadow: 0 2px 10px 0 rgba(70, 76, 79, .2);" width="45%" height="480" src="https://charts.mongodb.com/charts-project-0-lnhos/embed/charts?id=62a4e114-16bf-4b8d-8853-231614b702a7&maxDataAge=3600&theme=light&autoRefresh=true"></iframe></th>
  </tr>
  <script src="https://cdnjs.cloudflare.com/ajax/libs/Chart.js/2.9.4/Chart.js"></script>
  <h1 class="my-3">Course Details</h1>
  <div style="width:33%;display: inline-block;">
    <p>Total number of candidates : 104</p>
    <canvas id="myChart"></canvas>
    <script>
      var xValues = ["Completed", "Not Completed"];
      var yValues = [55, 49];
      var barColors = [
        "#00ff00",
        "#ff0000",
      ];
      new Chart("myChart", {
        type: "doughnut",
        data: {
          labels: xValues,
          datasets: [{
            backgroundColor: barColors,
            data: yValues
          }]
        },
        options: {
          title: {
            display: true,
            text: "Careers in agriculture"
          }
        }
      });
    </script>
  </div>
  <div style="width:33%;display:inline-block;">
    <p>Total number of candidates : 149</p>
    <canvas id="myChart4"></canvas>
    <script>
      var xValues = ["Completed", "Not Completed"];
      var yValues = [100, 49];
      var barColors = [
        "#00ff00",
        "#ff0000",
      ];
      new Chart("myChart4", {
        type: "doughnut",
        data: {
          labels: xValues,
          datasets: [{
            backgroundColor: barColors,
            data: yValues
          }]
        },
        options: {
          title: {
            display: true,
            text: "Health tips"
          }
        }
      });
    </script>
  </div>
  <div style="width:33%;display: inline-block;">
    <p>Total number of candidates : 200</p>
    <canvas id="myChart3"></canvas>
    <script>
      var xValues = ["Completed", "Not Completed"];
      var yValues = [50, 150];
      var barColors = [
        "#00ff00",
        "#ff0000",
      ];
      new Chart("myChart3", {
        type: "doughnut",
        data: {
          labels: xValues,
          datasets: [{
            backgroundColor: barColors,
            data: yValues
          }]
        },
        options: {
          title: {
            display: true,
            text: "Weaving Techniques"
          }
        }
      });
    </script>
  </div>
</div>
<%- include("partials/footer") %>