<%- include("partials/header") %>

<body>

<div class="container mt-5" style="min-height: 100vh;">
  <div class="row justify-content-center">
    <div class="col-6">
      <form action="/superlady/meetings/add" method="post" class="border p-3">
        <div class="mb-3">
          <label for="title" class="form-lable">Title</label>
          <input type="text" class="form-control" name="title" id="title" required />
        </div>
        <div class="mb-3">
          <label for="description" class="form-lable">Description</label>
          <input type="text" class="form-control" name="description" id="description" required />
        </div>
        <div class="mb-3">
          <label for="date" class="form-lable">Date</label>
          <input type="text" class="form-control" name="date" id="date" required />
        </div>
        <div class="mb-3">
          <label for="time" class="form-lable">Time</label>
          <input type="text" class="form-control" name="time" id="time" required />
        </div>
        <div class="mb-3">
          <label for="location" class="form-lable">Location</label>
          <input type="text" class="form-control" name="location" id="location" required />
        </div>
        <div class="mb-3">
          <label for="region" class="form-lable">Region</label>
          <input type="text" class="form-control" name="region" id="region" required />
        </div>
        <button type="submit" class="btn btn-primary">Add meeting</button>
      </form>
    </div>
  </div>
</div>
<%- include("partials/footer") %>