<%- include("partials/header") %>

<body>
  <% 
    users = [
        {
            id:"1",
            name: "Yashraj"
        },
        {
            id:"2",
            name: "Yash"
        }
    ]

    courses = [
    {
        id:"1",
        name: "Maths"
    },
    {
        id:"2",
        name: "Science"
    }
    ]
%>
  <div class="container mt-5" style="min-height: 100vh;">
    <div class="row justify-content-center">
      <div class="col-6">
        <form action="/superlady/user/enroll" method="post" class="border p-3">
          <div class="mb-3">
            <label for="users" class="form-label">Select user:</label>
            <select name="user" class="form-control" id="users">
              <% requiredUsersData.forEach(user => { %>
              <option value=<%= user.id %>> <%= user.name %> </option>
              <% }) %>
            </select>
          </div>
          <div class="mb-3">
            <label for="courses" class="form-label">Select course:</label>
            <select name="course" class="form-control" id="courses">
              <% requiredCourses.forEach(course => { %>
              <option value=<%= course.id %>> <%= course.name %> </option>
              <% }) %>
            </select>
          </div>
          <input type="submit" class="btn btn-primary" value="Submit">
        </form>
      </div>
    </div>

  </div>

<%- include("partials/footer") %>
