<%- include("partials/header") %>
<div class="album py-5 bg-light">
  <div class="container" style="min-height: 100vh;">
    <h2 class="mb-5">Enrolled Courses</h2>
    <div class="row row-cols-1 row-cols-sm-2 row-cols-md-3 g-3">
      <% courses.forEach(course => { %>
      <div class="col" style="width:33%;display:inline-block">
        <div class="card shadow-sm">
          <img src="<%= course.imageUrl %>" alt="">
          <!-- <svg class="bd-placeholder-img card-img-top" width="100%" height="225" xmlns="http://www.w3.org/2000/svg" role="img" aria-label="Placeholder: Thumbnail" preserveAspectRatio="xMidYMid slice" focusable="false">
            <title>Placeholder</title>
            <rect width="100%" height="100%" fill="#55595c" /><text x="50%" y="50%" fill="#eceeef" dy=".3em">Thumbnail</text>
          </svg> -->
          <div class="card-body">
            <h3 class="mb-2"><%= course.name %> </h3>
            <h6>language: <%= course.language %> </h6>
            <h6 class="mb-4">category: <%= course.category %> </h6>
            <p class="card-text"><%= course.description %> </p>
            <div class="d-flex justify-content-between align-items-center">
              <div class="btn-group">
                <a href="/courses/<%= course.id %> " class="btn btn-sm btn-primary">Details</a>
              </div>
              <small class="text-muted"><%= course.duration %> </small>
            </div>
          </div>
        </div>
      </div>
      <% }) %>
    </div>
  </div>
</div>
<%- include("partials/footer") %>