
<footer class="bg-light text-center text-lg-start">
    <div class="text-center p-3 style" style="right:0;bottom:0;width:100%;background-color: rgba(0, 0, 0, 0.2);">
      © 2022 Copyright:
      <a class="text-dark" href="https://www.srujna.org/">Srujna.org</a>
    </div>
</footer>