<!DOCTYPE html>
<html lang="en">

<head>
  <meta charset="UTF-8">
  <meta http-equiv="X-UA-Compatible" content="IE=edge">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <%- include('bootstrap_links') %>
  <title>Project</title>
</head>
<%- include('navbar') %> 
<%- include("message_banners") %>