<nav class="navbar navbar-expand-lg navbar-dark bg-dark">
  <div class="container-fluid">
    <a class="navbar-brand ms-5" href="/home">Srujna</a>
    <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#navbarNav" aria-controls="navbarNav" aria-expanded="false" aria-label="Toggle navigation">
      <span class="navbar-toggler-icon"></span>
    </button>
    <div class="collapse navbar-collapse" id="navbarNav">
      <ul class="navbar-nav">
        <li class="nav-item">
          <a class="nav-link" aria-current="page" href="/">Home</a>
        </li>
        <% if (user && user.role == "user") { %>
        <li class="nav-item">
          <a class="nav-link" aria-current="page" href="/courses">Available Courses</a>
        </li>
        <li class="nav-item">
          <a class="nav-link" aria-current="page" href="/meetings">Meetings</a>
        </li>
        <% } %>
      </ul>
      <ul class="navbar-nav ms-auto me-5">
        <% if (user && user.role == 'admin') { %>
        <li class="nav-item">
          <a class="nav-link" aria-current="page" href="/admin/superlady/register">Add Superlady</a>
        </li>
        <li class="nav-item">
          <a class="nav-link" aria-current="page" href="/admin/courses/add">Add Course</a>
        </li>
        <li class="nav-item">
          <a class="nav-link" aria-current="page" href="/admin/courses/lectures/add">Add Lecture</a>
        </li>
        <% } %>
        <% if (user && user.role == 'superlady') { %>
        <li class="nav-item">
          <a class="nav-link" aria-current="page" href="/superlady/user/register">Add user</a>
        </li>
        <li class="nav-item">
          <a class="nav-link" aria-current="page" href="/superlady/user/enroll">Enroll user to course</a>
        </li>
        <li class="nav-item">
          <a class="nav-link" aria-current="page" href="/superlady/meetings/add">Create meeting</a>
        </li>
        <% } %>
        <% if (user) { %>
        <li class="nav-item" style="max-width: 40px">
          <img style="width: 100%; border-radius: 100px" src="<%= user.profileImageUrl %> " alt="" />
        </li>
        <li class="nav-item">
          <a class="nav-link" aria-current="page" href="/auth/logout">Logout</a>
        </li>
        <% } %> <% if (!user) { %>
        <li class="nav-item">
          <a class="nav-link" aria-current="page" href="/login">Login</a>
        </li>
        <!-- <li class="nav-item">
          <a class="nav-link" aria-current="page" href="/signup">Signup</a>
        </li> -->
        <% } %>
      </ul>
      <ul class="navbar-nav">
        <div id="google_translate_element"></div>
        <script type="text/javascript">
          function googleTranslateElementInit() {
            new google.translate.TranslateElement({
              pageLanguage: 'en'
            }, 'google_translate_element');
          }
        </script>
        <script type="text/javascript" src="//translate.google.com/translate_a/element.js?cb=googleTranslateElementInit"></script>
      </ul>
    </div>
  </div>
</nav>